# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*
!.gitignore
!flake.lock
!flake.nix
!.sops.yaml
!README.md

!config/
!config/**/
!config/**/*.json

!flake/
!flake/**/
!flake/**/*.nix

!home-manager/
!home-manager/**/
!home-manager/**/*.nix

!hosts/
!hosts/**/
!hosts/**/*.nix

!pkgs/
!pkgs/*.nix
!pkgs/**/
!pkgs/**/default.nix
!pkgs/**/deps.json
!pkgs/**/*.sh

!patches/
!patches/*.patch

!secrets/
!secrets/secrets.yaml
