# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*
!.gitignore
!flake.lock
!flake.nix
!.sops.yaml
!settings.nix
!README.md

!home-manager/
!home-manager/**/
!home-manager/**/*.nix

!hosts/
!hosts/**/
!hosts/**/*.nix

!pkgs/
!pkgs/**/
!pkgs/**/default.nix
!pkgs/**/*.json

!secrets/
!secrets/secrets.yaml
